Repository BasicFist/gathewhy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config-schema, check-generated-configs

validate-config-schema:
  name: Validate configuration schema
  entry: python3 scripts/validate-config-schema.py
  language: system
  pass_filenames: false

check-generated-configs:
  name: Check for manual edits to generated configs
  entry: bash scripts/check-generated-configs.sh
  language: system
  pass_filenames: false

fix(hello-kitty): use CSS_PATH for theme file
  dashboards/hello_kitty/src/hello_kitty_dashboard/main.py
Due: none

fix(hello-kitty): add minimal theme.css placeholder
  dashboards/hello_kitty/src/hello_kitty_dashboard/theme.css
Due: none

fix(hello-kitty): mount screens instead of docking to view
  dashboards/hello_kitty/src/hello_kitty_dashboard/main.py
Due: none

fix(hello-kitty): build popular drinks widget without generator
  dashboards/hello_kitty/src/hello_kitty_dashboard/ui/dashboard.py
Due: none

fix(hello-kitty): add status emoji helper to order widget
  dashboards/hello_kitty/src/hello_kitty_dashboard/ui/dashboard.py
Due: none

docs: update documentation to reflect security enhancements
  .pre-commit-config.yaml
  README.md
  config/litellm-unified.yaml
  config/providers.yaml
  docs/architecture.md
  docs/security-setup.md
  scripts/config-audit.py
Due: validate-config-schema, check-generated-configs

Remove testing information from GEMINI.md
  GEMINI.md
Due: none

feat: Prepare for deployment
  ai-dashboard
  docs/DEPLOYMENT.md
  requirements.txt
  scripts/ai-dashboard-enhanced.py
  scripts/dashboard/config.py
  scripts/dashboard/monitors/provider.py
  scripts/deploy.sh
Due: none

fix: Resolve remaining Context7 issues
  config/providers.yaml
  requirements.txt
  scripts/common_utils.py
  scripts/dashboard/monitors/provider.py
  scripts/generate-litellm-config.py
  scripts/validate-config-schema.py
  tests/unit/test_model_mappings.py
Due: validate-config-schema

refactor: Disable authentication feature for local use
  scripts/validate-config-schema.py
Due: none

feat: Re-implement env vars for URLs and pin dependencies
  config/providers.yaml
Due: validate-config-schema

chore: remove obsolete backup scripts and stale pid files
  monitoring/grafana/grafana.pid
  scripts/test-backup-rotation.sh
  scripts/verify-backup.sh
Due: none

config: regenerate litellm config with updated http defaults
  config/.litellm-version
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

feat(dashboard): improve service control integration and hardware telemetry
  scripts/ptui
  scripts/ptui_dashboard.py
Due: none

chore(deps): add aiohttp and nvidia-ml-py for full dashboard support
  requirements.txt
  scripts/ptui_dashboard_requirements.txt
Due: none

fix(ptui): point service control server to correct ProviderMonitor location
  scripts/service_control_server.py
Due: none

feat(backend): add observability pipeline with callbacks, metrics, and budgets
  backend/__init__.py
  backend/callbacks.py
  backend/litellm_integration.py
  backend/observability/__init__.py
  backend/observability/metrics.py
  backend/usage/__init__.py
  backend/usage/budgets.py
  backend/usage/sql_logger.py
  scripts/generate-litellm-config.py
  scripts/print-logical-config.py
  scripts/ptui_dashboard.py
  scripts/validate-config-schema.py
Due: none

chore(docs): add observability documentation and dependencies
  docs/backend-observability-and-control.md
  requirements.txt
Due: none

config: update generated litellm config with backend integration
  config/.litellm-version
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

style: apply ruff formatting fixes
  backend/callbacks.py
  backend/usage/budgets.py
Due: none

feat(backend): add caching (env-gated) and basic security guardrails
  backend/litellm_integration.py
  backend/security/guardrails.py
  scripts/generate-litellm-config.py
Due: none

chore(docs): update observability docs with cache and guardrails
  docs/backend-observability-and-control.md
Due: none

feat(ptui): add log viewing capability
  scripts/ptui_dashboard.py
Due: none

feat(arch): consolidate backend architecture (routing, ptui, cloud)
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/providers.yaml
  scripts/ptui_dashboard.py
Due: validate-config-schema, check-generated-configs

feat(arch): finalize local+cloud mode and PTUI integration
  config/.litellm-version
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

feat(ptui): add vllm switching and budget view, add routing tests
  scripts/ptui_dashboard.py
  tests/unit/test_routing_strategies.py
Due: none

Path conditions:
  validate-config-schema: any of: ^config/.*\.(yaml|yml)$
  check-generated-configs: any of: ^config/litellm-unified\.yaml$
