Repository BasicFist/gathewhy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config-schema, check-generated-configs

validate-config-schema:
  name: Validate configuration schema
  entry: python3 scripts/validate-config-schema.py
  language: system
  pass_filenames: false

check-generated-configs:
  name: Check for manual edits to generated configs
  entry: bash scripts/check-generated-configs.sh
  language: system
  pass_filenames: false

docs: add quick start guide for user-friendly setup
  QUICKSTART.md
Due: none

docs: add command reference card
  COMMAND-REFERENCE.md
Due: none

feat: add Playwright dashboard validation tests
  pytest.ini
  requirements.txt
  scripts/monitor
  scripts/test-monitoring.sh
  tests/monitoring/README.md
  tests/monitoring/conftest.py
  tests/monitoring/test_grafana_dashboard.py
Due: none

fix: update configuration to pass all unit tests
  config/model-mappings.yaml
  config/providers.yaml
Due: validate-config-schema

feat: production deployment and operational tooling
  .serena/memories/02-provider-registry.md
  IMPLEMENTATION-ROADMAP.md
  INDEX.md
  PHASE3-INTEGRATION-TEST-REPORT.md
  README.md
  VLLM-DEPLOYMENT-REQUIREMENTS.md
  WORKFLOW-EXECUTION-REPORT.md
  WORKFLOW-IMPLEMENTATION.md
  WORKFLOW-P0-COMPLETION-REPORT.md
  WORKFLOW-P1-PRODUCTION-DEPLOYMENT-REPORT.md
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/ports.yaml
  config/providers.yaml
  docs/architecture.md
  docs/consuming-api.md
  docs/model-selection-guide.md
  docs/quick-start.md
  docs/recovery-procedures.md
  docs/troubleshooting.md
  scripts/check-port-conflicts.sh
  scripts/monitor-redis-cache.sh
  scripts/reload-litellm-config.sh
  scripts/validate-all-configs.sh
  scripts/validate-config-consistency.py
  scripts/validate-config-schema.py
  scripts/verify-backup.sh
Due: validate-config-schema, check-generated-configs

feat: complete Phase 1 - Foundation & Risk Mitigation
  .github/workflows/validate-config.yml
  IMPLEMENTATION-ROADMAP.md
  README.md
  scripts/test-backup-rotation.sh
Due: none

feat: Phase 1.5 - code quality and documentation hardening
  .pre-commit-config.yaml
  CONFIG-SCHEMA.md
  QUICK-REFERENCE.md
  mypy.ini
  pyproject.toml
  requirements.txt
  scripts/common.sh
  scripts/common_utils.py
  scripts/generate-litellm-config.py
  scripts/validate-config-consistency.py
  scripts/validate-config-schema.py
Due: none

feat: Phase 1 complete - CI/CD pipeline + completion documentation
  .github/workflows/validate-config.yml
  docs/PHASE-1-COMPLETION.md
Due: none

feat: complete Phase 2 - Developer Experience with Web UI and Analytics
  IMPLEMENTATION-ROADMAP.md
  README.md
  config/litellm-unified.yaml
  docs/PHASE-2-COMPLETION-REPORT.md
  docs/observability.md
  docs/phase2-completion-summary.md
  monitoring/PROMETHEUS-LIMITATION.md
  monitoring/docker-compose.yml
  monitoring/grafana/dashboards/01-overview.json
  monitoring/grafana/dashboards/02-tokens.json
  monitoring/grafana/dashboards/03-performance.json
  monitoring/grafana/dashboards/04-provider-health.json
  monitoring/grafana/dashboards/05-system-health.json
  monitoring/grafana/dashboards/dashboards.yml
  monitoring/grafana/datasources/prometheus.yml
  scripts/debugging/README.md
  scripts/debugging/analyze-logs.py
  scripts/debugging/tail-requests.py
  scripts/debugging/test-request.py
  scripts/loadtesting/README.md
  scripts/loadtesting/k6/litellm-load-test.js
  scripts/loadtesting/k6/smoke-test.js
  scripts/loadtesting/locust/litellm_locustfile.py
  scripts/profiling/README.md
  scripts/profiling/compare-providers.py
  scripts/profiling/profile-latency.py
  scripts/profiling/profile-throughput.py
  scripts/validate-observability.sh
  web-ui/README.md
  web-ui/app.py
  web-ui/config.yaml
  web-ui/database.py
  web-ui/litellm-webui.service
  web-ui/requests.db
  web-ui/requirements.txt
Due: validate-config-schema, check-generated-configs

fix: resolve pre-commit hook issues from Phase 2 commit
  .serena/memories/05-integration-guide.md
  COMMAND-REFERENCE.md
  INDEX.md
  QUICKSTART.md
  README.md
  VLLM-DEPLOYMENT-REQUIREMENTS.md
  config/litellm-unified.yaml
  docs/adding-providers.md
  docs/consuming-api.md
  docs/quick-start.md
  monitoring/PROMETHEUS-LIMITATION.md
  monitoring/README.md
  scripts/debugging/analyze-logs.py
  scripts/debugging/tail-requests.py
  scripts/debugging/test-request.py
  scripts/generate-litellm-config.py
  scripts/loadtesting/locust/litellm_locustfile.py
  scripts/profiling/compare-providers.py
  scripts/profiling/profile-latency.py
  scripts/profiling/profile-throughput.py
  scripts/validate-config-consistency.py
  scripts/validate-config-schema.py
  tests/conftest.py
  tests/integration/test_integration.py
  tests/monitoring/conftest.py
  tests/monitoring/test_grafana_dashboard.py
  tests/unit/test_routing.py
  web-ui/README.md
  web-ui/requests.db
Due: validate-config-schema, check-generated-configs

fix: restore configuration consistency and correct LiteLLM fallback format
  .serena/memories/02-provider-registry.md
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/providers.yaml
Due: validate-config-schema, check-generated-configs

fix: resolve vLLM routing issue and add comprehensive status documentation
  STATUS.md
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

docs: add comprehensive analysis and research reports
  CURRENT-STATUS.md
  POST-SESSION-SUMMARY.md
  claudedocs/research_llm_gateway_comparison_2025-10-24.md
  config/litellm-unified.yaml
  config/model-mappings.yaml
Due: validate-config-schema, check-generated-configs

fix(security): replace eval() with json.loads() in web UI
  web-ui/app.py
Due: none

feat(vllm): resolve port conflict with single-instance strategy
  config/litellm-unified.yaml
  docs/vllm-model-switching.md
  scripts/vllm-model-switch.sh
Due: validate-config-schema, check-generated-configs

feat(ptui): add comprehensive Provider TUI command center v2.0.0
  COMMAND-REFERENCE.md
  FINAL-STATUS.md
  TASKS-COMPLETED.md
  docs/ptui-user-guide.md
  scripts/ptui
Due: none

fix(ptui): suppress clear command terminal database error
  scripts/ptui
Due: none

feat(ptui): add comprehensive provider management capabilities
  scripts/manage-providers.py
  scripts/ptui
Due: none

feat(scripts): add curses dashboard for ptui
  scripts/ptui
  scripts/ptui_dashboard.py
  scripts/validate-unified-backend.sh
Due: none

feat: Add enable/disable service functionality to enhanced dashboard
  scripts/monitor-enhanced
Due: none

docs: Update monitoring documentation for enable/disable functionality
  MONITORING.md
Due: none

feat: Add unified AI backend dashboard with comprehensive monitoring
  monitor-unified
  scripts/monitor-unified
Due: none

feat: Add consolidated AI backend dashboard
  ai-dashboard
  scripts/ai-dashboard
Due: none

docs: Add comprehensive documentation for consolidated dashboard
  CONSOLIDATED_DASHBOARD.md
Due: none

feat: Phase 1 - Python script quality & modernization
  requirements.txt
  scripts/common_utils.py
  scripts/generate-litellm-config.py
Due: none

feat: Phase 3 - Configuration & Schema Enhancements
  AGENTS.md
  CLAUDE.md
  CODE-IMPROVEMENT-ANALYSIS-WITH-CONTEXT7.md
  CODE-IMPROVEMENT-ANALYSIS.md
  COMMAND-REFERENCE.md
  DIAGNOSTIC-REPORT.md
  QWEN.md
  README.md
  SESSION-COMPLETE.md
  VLLM-DEPLOYMENT-REQUIREMENTS.md
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/providers.yaml
  docs/PHASE-3-COMPLETION.md
  docs/error-troubleshooting-guide.md
  docs/ptui-user-guide.md
  monitor
  monitoring/grafana/grafana.pid
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki/loki-config.yml
  monitoring/loki/promtail-config.yml
  scripts/ai-dashboard
  scripts/config-audit.py
  scripts/cui
  scripts/monitor
  scripts/monitor_README.md
  scripts/providers
  scripts/ptui
  scripts/ptui_dashboard.py
  scripts/pui
  scripts/schema_versioning.py
  scripts/validate-config-consistency.py
  scripts/validate-config-schema.py
  scripts/vllm-model-switch.sh
  tests/conftest.py
  tests/contract/test_provider_contracts.py
  tests/unit/test_configuration_validation.py
  tests/unit/test_routing.py
Due: validate-config-schema, check-generated-configs

feat: Audit and harden AI dashboard with security & quality improvements
  DASHBOARD-AUDIT-REPORT.md
  DASHBOARD-FIX-SUMMARY.md
  DASHBOARD-QUICK-FIX-REFERENCE.md
  IMPLEMENTATION-COMPLETE.md
  QUICK-START-PHASE-3.md
  ai-dashboard
  claudedocs/python-security-hardening-recommendations.md
  monitoring/grafana/grafana.pid
  monitoring/loki/promtail-config.yml
  scripts/ai-dashboard
  scripts/config-audit.py
  scripts/schema_versioning.py
  tests/contract/test_provider_contracts.py
  tests/unit/test_configuration_validation.py
Due: none

refactor: Complete ai-dashboard refactoring with production-ready features
  README.md
  REFACTORING_SUMMARY.md
  docs/ai-dashboard.md
  scripts/ai-dashboard
  tests/unit/test_ai_dashboard.py
Due: none

fix: Fix YAML indentation - model_name correction
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

fix: Resolve critical code quality and security issues
  .secrets.baseline
  claudedocs/CODE-FIXES-2025-10-26.md
  config/.litellm-version
  config/litellm-unified.yaml
  monitoring/.env.example
  monitoring/docker-compose.yml
  scripts/config-audit.py
  scripts/debug_menu.py
  scripts/generate-litellm-config.py
  scripts/schema_versioning.py
  tests/contract/test_provider_contracts.py
Due: validate-config-schema, check-generated-configs

docs: Add comprehensive consolidation summary report
  CONSOLIDATION-SUMMARY.md
Due: none

chore: Ignore problematic work-in-progress files
  .gitignore
Due: none

feat: complete UI/UX redesign of AI backend dashboard
  AI-DASHBOARD-PURPOSE.md
  scripts/REFACTORING-SUMMARY.md
  scripts/ai-dashboard
  scripts/dashboard/__init__.py
  scripts/dashboard/__main__.py
  scripts/dashboard/app.py
  scripts/dashboard/config.py
  scripts/dashboard/models.py
  scripts/dashboard/monitors/__init__.py
  scripts/dashboard/monitors/gpu.py
  scripts/dashboard/monitors/provider.py
  scripts/dashboard/state.py
  scripts/dashboard/widgets/__init__.py
  scripts/dashboard/widgets/detail.py
  scripts/dashboard/widgets/gpu_card.py
  scripts/dashboard/widgets/overview.py
  scripts/dashboard/widgets/table.py
Due: none

fix(dashboard): enhance GPU monitoring with compatibility and debug improvements
  scripts/dashboard/app.py
  scripts/dashboard/monitors/gpu.py
Due: none

fix: critical bug fixes for exception handling and shell script
  scripts/monitor-enhanced
  scripts/vllm-model-switch.sh
Due: none

feat: apply P0 LiteLLM configuration fixes from official docs
  LITELLM-OFFICIAL-DOCS-GAP-ANALYSIS.md
  config/.litellm-version
  config/litellm-unified.yaml
  scripts/generate-litellm-config.py
  scripts/validate-unified-backend.sh
Due: validate-config-schema, check-generated-configs

fix: remove Enterprise-only Prometheus callback
  LITELLM-OFFICIAL-DOCS-GAP-ANALYSIS.md
  config/litellm-unified.yaml
  scripts/generate-litellm-config.py
Due: validate-config-schema, check-generated-configs

docs: add comprehensive P0 fixes summary and final status
  FINAL-P0-FIXES-SUMMARY.md
  P0-FIXES-APPLIED.md
Due: none

refactor(dashboard): extract CSS, widgets, and navigation controller
  scripts/dashboard/app.py
  scripts/dashboard/controllers/__init__.py
  scripts/dashboard/controllers/navigation.py
  scripts/dashboard/dashboard.tcss
  scripts/dashboard/widgets/__init__.py
  scripts/dashboard/widgets/alerts_panel.py
  scripts/dashboard/widgets/filter_bar.py
  scripts/dashboard/widgets/search_bar.py
  scripts/dashboard/widgets/stats_bar.py
Due: none

Path conditions:
  validate-config-schema: any of: ^config/.*\.(yaml|yml)$
  check-generated-configs: any of: ^config/litellm-unified\.yaml$
