Repository BasicFist/gathewhy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config-schema, check-generated-configs

validate-config-schema:
  name: Validate configuration schema
  entry: python3 scripts/validate-config-schema.py
  language: system
  pass_filenames: false

check-generated-configs:
  name: Check for manual edits to generated configs
  entry: bash scripts/check-generated-configs.sh
  language: system
  pass_filenames: false

fix: align llama.cpp native service mapping
  scripts/dashboard/monitors/provider.py
Due: none

feat(dashboard): add help overlay and resilient service controls
  scripts/dashboard/app.py
  scripts/dashboard/dashboard.tcss
  scripts/dashboard/models.py
  scripts/dashboard/monitors/provider.py
  scripts/dashboard/widgets/__init__.py
  scripts/dashboard/widgets/detail.py
  scripts/dashboard/widgets/filter_bar.py
  scripts/dashboard/widgets/help.py
  scripts/dashboard/widgets/stats_bar.py
  scripts/generate-litellm-config.py
  scripts/test_gpu_direct.py
Due: none

feat: restore ollama cloud integration
  .secrets.baseline
  CLOUD_MODELS_READY.md
  CRUSH-CONFIG-AUDIT.md
  CRUSH-CONFIG-FIX.json
  CRUSH-FIX-APPLIED.md
  CRUSHVLLM-CLOUD-MODELS-ADDED.md
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/providers.yaml
  docs/crush-integration.md
  docs/local-vs-cloud-routing.md
  docs/ollama-cloud-setup.md
  docs/runtime-operations.md
  scripts/dashboard/models.py
  scripts/dashboard/monitors/provider.py
  scripts/dashboard/widgets/detail.py
Due: validate-config-schema, check-generated-configs

fix: stabilize litellm routing and dashboard tests
  .secrets.baseline
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  scripts/generate-litellm-config.py
  scripts/validate-unified-backend.sh
  tests/unit/test_ai_dashboard.py
Due: validate-config-schema, check-generated-configs

refactor: consolidate dashboard layout
  scripts/dashboard/app.py
  scripts/dashboard/widgets/__init__.py
  scripts/dashboard/widgets/layout.py
Due: none

feat: add global service controls to dashboard
  scripts/dashboard/app.py
  scripts/dashboard/widgets/__init__.py
  scripts/dashboard/widgets/filter_bar.py
  scripts/dashboard/widgets/layout.py
  scripts/dashboard/widgets/service_controls.py
  tests/unit/test_ai_dashboard.py
Due: none

chore: regenerate litellm config
  config/.litellm-version
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

docs: align ollama cloud secrets with LAB
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  docs/ollama-cloud-setup.md
Due: validate-config-schema, check-generated-configs

fix: allow service controls to accept widget id
  scripts/dashboard/widgets/service_controls.py
Due: none

feat: add global service controls bar
  .secrets.baseline
  docs/ai-dashboard.md
  scripts/dashboard/app.py
  scripts/dashboard/dashboard.tcss
  scripts/dashboard/widgets/help.py
  scripts/dashboard/widgets/layout.py
  scripts/dashboard/widgets/service_controls.py
Due: none

chore: regen litellm config
  config/.litellm-version
  config/litellm-unified.yaml
Due: validate-config-schema, check-generated-configs

style: polish dashboard theme
  scripts/dashboard/dashboard.tcss
  scripts/dashboard/widgets/service_controls.py
Due: none

feat: integrate ollama cloud and enhance validation
  .secrets.baseline
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/ports.yaml
  config/providers.yaml
  pytest.ini
  scripts/generate-litellm-config.py
  scripts/validate-all-configs.sh
Due: validate-config-schema, check-generated-configs

docs: consolidate documentation with master index and API reference
  CLOUD_MODELS_READY.md
  CONFIGURATION-QUICK-REFERENCE.md
  CRUSHVLLM-CLOUD-MODELS-ADDED.md
  DOCUMENTATION-INDEX.md
  DOCUMENTATION-SUMMARY.md
  README.md
  docs/API-REFERENCE.md
  docs/crush-integration.md
  docs/ollama-cloud-setup.md
  docs/troubleshooting.md
Due: none

chore: update serena memories with phase2 hardening and crush findings
  .serena/memories/01-architecture.md
  .serena/memories/07-operational-runbooks.md
  .serena/memories/crush_audit_2025-10-30_comprehensive_findings.md
  .serena/memories/crush_quick_reference_audit_findings.md
  .serena/memories/crush_quick_reference_roadmap.md
  .serena/memories/crush_roadmap_complete_2025-10-30.md
  .serena/memories/crush_week1_week2_implementation_2025-10-30.md
  .serena/memories/phase2-production-hardening-session.md
  .serena/memories/phase2-technical-discoveries.md
Due: none

chore: update project configuration and metadata
  .serena/project.yml
  CLAUDE.md
Due: none

docs: add phase 2 completion report, redis setup, and integration tests
  PHASE-2-COMPLETION-REPORT.md
  docs/redis-persistence-setup.md
  scripts/wait-for-service.sh
  tests/integration/test_phase2_resilience.py
Due: none

feat(dashboard): enhance neon cyberpunk theme with improved layout and flash colors
  docs/ai-dashboard-neon-enhancements.md
  docs/dashboards-comparison.md
  docs/ptui-dashboard.md
  scripts/ai-dashboard
  scripts/benchmark_dashboard_performance.py
  scripts/ptui_dashboard.py
  scripts/ptui_dashboard_requirements.txt
  tests/unit/test_ptui_dashboard.py
Due: none

docs: add final summary of dashboard neon theme enhancements
  DASHBOARD-ENHANCEMENT-FINAL-SUMMARY.md
Due: none

fix(dashboard): remove unsupported box-shadow CSS properties
  scripts/ai-dashboard
Due: none

Add llama.cpp model catalog and dashboard controls
  .secrets.baseline
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/providers.yaml
  scripts/ai-dashboard
  scripts/llamacpp/download_models.sh
  scripts/llamacpp/switch_model.sh
Due: validate-config-schema, check-generated-configs

Harden llama.cpp workflows and add service controls
  config/.litellm-version
  config/litellm-unified.yaml
  config/llamacpp-models.yaml
  config/systemd/llm-cache-prune.service
  config/systemd/llm-cache-prune.timer
  config/systemd/service-control.service
  scripts/ai-dashboard
  scripts/generate-litellm-config.py
  scripts/llamacpp/download_models.sh
  scripts/llamacpp/switch_model.sh
  scripts/maintenance/prune_llm_caches.sh
  scripts/service_control_server.py
  scripts/validate-config-consistency.py
Due: validate-config-schema, check-generated-configs

Fix: Ollama Cloud endpoint (api.ollama.com → ollama.com) - 3rd time
  config/providers.yaml
Due: validate-config-schema

audit: comprehensive critical audit report
  CRITICAL-AUDIT-REPORT.md
Due: none

fix: apply 6 critical fixes from audit + verification
  FIXES-APPLIED-2025-11-08.md
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  docs/archive/CLOUD_MODELS_READY.md
  docs/archive/CRUSH-CONFIG-AUDIT.md
  docs/archive/CRUSH.md
  docs/archive/FINAL-P0-FIXES-SUMMARY.md
  docs/archive/P0-FIXES-APPLIED.md
  scripts/generate-litellm-config.py
  scripts/smoke-test.sh
  scripts/validate-config-schema.py
Due: validate-config-schema, check-generated-configs

feat: implement all priority features from audit
  .github/workflows/coverage.yml
  .github/workflows/integration-tests.yml
  PRIORITIES-IMPLEMENTATION-2025-11-08.md
  config/schemas/version.py
  docker-compose.test.yml
  monitoring/grafana/dashboards/README.md
  monitoring/grafana/dashboards/cache-efficiency.json
  monitoring/grafana/dashboards/overview.json
  monitoring/grafana/dashboards/provider-performance.json
  scripts/check-port-conflicts.sh
  scripts/migrate-config.py
  scripts/migrations/__init__.py
Due: none

docs: consolidate project structure and simplify configuration management
  DOCUMENTATION-INDEX.md
  DOCUMENTATION-SUMMARY.md
  docs/archive/AI-DASHBOARD-PURPOSE.md
  docs/archive/CONSOLIDATION-PLAN.md
  docs/archive/CRUSH-FIX-APPLIED.md
  docs/operations/DEPLOYMENT.md
  docs/operations/STATUS-CURRENT.md
  docs/reference/CONFIG-SCHEMA.md
  docs/reference/CONFIGURATION-QUICK-REFERENCE.md
  docs/reports/CONSOLIDATION-SUMMARY.md
  docs/reports/CRITICAL-AUDIT-REPORT.md
  docs/reports/FIXES-APPLIED-2025-11-08.md
  docs/reports/LITELLM-OFFICIAL-DOCS-GAP-ANALYSIS.md
  docs/reports/PHASE-2-COMPLETION-REPORT.md
  docs/reports/PRIORITIES-IMPLEMENTATION-2025-11-08.md
  docs/reports/STRUCTURE-CONSOLIDATION-2025-11-08.md
  scripts/config-manager.py
Due: none

docs: update CLAUDE.md with new structure and config-manager
  CLAUDE.md
Due: none

docs: add comprehensive final audit completion report
  docs/reports/FINAL-AUDIT-COMPLETION-2025-11-08.md
Due: none

refactor: apply local documentation improvements and infrastructure cleanup
  CLAUDE.md
  CONSOLIDATION-PLAN.md
  CONSOLIDATION-SUMMARY.md
  DASHBOARD-ENHANCEMENT-FINAL-SUMMARY.md
  DEPLOYMENT.md
  README.md
  STATUS-CURRENT.md
  docs/AGENTS.md
  docs/COMMAND-REFERENCE.md
  docs/DEVELOPMENT-HISTORY.md
  docs/architecture.md
  docs/dashboards-comparison.md
  docs/models/qwen.md
  docs/ptui-dashboard.md
  monitoring/Dockerfile.mock-prometheus
  monitoring/docker-compose.mock.yml
  monitoring/grafana/datasources/datasources.yml
  monitoring/grafana/datasources/prometheus.yml
  monitoring/grafana/grafana.pid
  monitoring/mock-prometheus.py
  monitoring/scripts/mock-prometheus.sh
  scripts/config-audit.py
  scripts/ptui_dashboard.py
  scripts/service_control_server.py
  scripts/validate-all-configs.sh
  tests/unit/test_ptui_dashboard.py
  web-ui/README.md
  web-ui/app.py
  web-ui/config.yaml
  web-ui/database.py
  web-ui/litellm-webui.service
  web-ui/requests.db
  web-ui/requirements.txt
Due: none

docs: add archive reorganization and dashboard development history
  AGENTS.md
  CONSOLIDATION-COMPLETE-SUMMARY.md
  archive/code-analysis/CODE-ANALYSIS-REPORT.md
  archive/dashboard-development/DASHBOARD-BEFORE-AFTER.md
  archive/dashboard-development/DASHBOARD-COLOR-PALETTE.md
  archive/dashboard-development/DASHBOARD-ENHANCEMENT-FINAL-SUMMARY.md
  archive/dashboard-development/DASHBOARD-REDESIGN-SUMMARY.md
  archive/planning/CONSOLIDATION-PLAN.md
  archive/planning/CONSOLIDATION-SUMMARY.md
  archive/planning/IMPROVEMENTS-IMPLEMENTED.md
  archive/status-reports/1970-01-21_103041_New_Session.md
  config/archive/litellm-working.yaml.20251103
  config/dashboard-config.yaml
  docs/ARCHITECTURE-CONSOLIDATION.md
  docs/CONSOLIDATED-ARCHITECTURE.md
  docs/DASHBOARD-ENHANCEMENT-ROADMAP.md
  docs/ENHANCED-DASHBOARD-FEATURES.md
  docs/NEON_THEME_SUMMARY.md
  docs/cloud-model-best-practices.md
  docs/neon-theme-color-reference.md
  docs/neon-theme-preview.txt
  docs/neon-theme-visual-guide.md
  docs/wth-dashboard.md
  scripts/DASHBOARD_CHANGES_DIFF.md
  scripts/DASHBOARD_LAYOUT.md
  scripts/DASHBOARD_REDESIGN_SUMMARY.md
  scripts/model-routing-visualizer.py
Due: validate-config-schema

feat: major v2.0 enhancements - cloud providers and advanced features
  config/litellm-unified.yaml
  config/model-mappings.yaml
  config/multi-region.yaml
  config/providers.yaml
  docs/ENHANCEMENTS-V2.md
  scripts/advanced_load_balancer.py
  scripts/request_queue.py
  scripts/semantic_cache.py
  scripts/simple-generate-config.py
Due: validate-config-schema, check-generated-configs

docs: consolidate scattered dashboard experiments
  docs/DASHBOARD-CONSOLIDATION.md
  docs/DASHBOARD-GUIDE.md
  scripts/archive/experimental-dashboards/README.md
  scripts/archive/experimental-dashboards/benchmark_dashboard_performance.py
  scripts/archive/experimental-dashboards/monitor
  scripts/archive/experimental-dashboards/monitor-enhanced
  scripts/archive/experimental-dashboards/monitor-lite
  scripts/archive/experimental-dashboards/monitor-unified
Due: none

refactor: audit and cleanup file bloat/clutter (Phase 1)
  AGENTS.md
  archive/completion-reports/CLOUD_MODELS_READY.md
  archive/completion-reports/CONSOLIDATION-COMPLETE-SUMMARY.md
  archive/completion-reports/CRUSH-CONFIG-AUDIT.md
  archive/completion-reports/CRUSH-CONFIG-FIX.json
  archive/completion-reports/CRUSH-FIX-APPLIED.md
  archive/completion-reports/CRUSH.md
  archive/completion-reports/FINAL-P0-FIXES-SUMMARY.md
  archive/completion-reports/P0-FIXES-APPLIED.md
  archive/completion-reports/PHASE-2-COMPLETION-REPORT.md
  archive/completion-reports/README.md
  archive/experimental-docs/ARCHITECTURE-CONSOLIDATION.md
  archive/experimental-docs/CONSOLIDATED-ARCHITECTURE.md
  archive/experimental-docs/DASHBOARD-ENHANCEMENT-ROADMAP.md
  archive/experimental-docs/ENHANCED-DASHBOARD-FEATURES.md
  archive/experimental-docs/NEON_THEME_SUMMARY.md
  archive/experimental-docs/README.md
  archive/experimental-docs/ai-dashboard-neon-enhancements.md
  archive/experimental-docs/neon-theme-color-reference.md
  archive/experimental-docs/neon-theme-preview.txt
  archive/experimental-docs/neon-theme-visual-guide.md
  docs/AGENTS.md
  docs/AI-DASHBOARD-PURPOSE.md
  docs/AUDIT-REPORT-2025-11-09.md
  docs/CONFIG-SCHEMA.md
  docs/CONFIGURATION-QUICK-REFERENCE.md
  docs/DOCUMENTATION-INDEX.md
  docs/DOCUMENTATION-SUMMARY.md
  docs/LITELLM-OFFICIAL-DOCS-GAP-ANALYSIS.md
  scripts/monitor_README.md
Due: none

feat(dashboard): add dual dashboard implementations with monitoring widgets
  .gitignore
  scripts/ai-dashboard-enhanced.py
  scripts/install-wth-dashboard.sh
  test_kimi_routing.sh
  wth-widgets/README.md
  wth-widgets/litellm/bin/cache-performance.sh
  wth-widgets/litellm/bin/common.sh
  wth-widgets/litellm/bin/health-status.sh
  wth-widgets/litellm/bin/litellm-logs.sh
  wth-widgets/litellm/bin/litellm-metrics.sh
  wth-widgets/litellm/bin/litellm-status.sh
  wth-widgets/litellm/bin/provider-score.sh
  wth-widgets/litellm/bin/providers-overview.sh
  wth-widgets/litellm/config/wth-lite-dashboard.yaml
Due: none

feat(routing): implement routing v1.7 with quality-preserving fallbacks
  .serena/memories/01-architecture.md
  .serena/memories/02-provider-registry.md
  .serena/memories/03-routing-config.md
  .serena/memories/07-operational-runbooks.md
  .serena/memories/09-monitoring-dashboards.md
  .serena/memories/10-routing-architecture-v1.7.md
  config/.litellm-version
  config/litellm-unified.yaml
  config/model-mappings.yaml
  docs/routing-architecture-v1.7-diagram.txt
  docs/routing-architecture-v1.7-improvements.md
  docs/routing-v1.7-before-after-comparison.md
Due: validate-config-schema, check-generated-configs

feat(routing): implement routing v1.7.1 with llama_cpp provider diversity
  .serena/memories/04-model-mappings.md
  config/litellm-unified.yaml
  config/model-mappings.yaml
  docs/DEEP_ANALYSIS_ROUTING_V1.7.md
  docs/IMPLEMENTATION_LLAMA_CPP_INTEGRATION.md
  scripts/validate-config-consistency.py
  tests/unit/test_routing.py
Due: validate-config-schema, check-generated-configs

fix(routing): add llama-cpp models to providers.yaml for model_list generation
  .secrets.baseline
  config/litellm-unified.yaml
  config/providers.yaml
Due: validate-config-schema, check-generated-configs

feat(routing-v1.7.1): add documentation, monitoring dashboard, and config cleanup
  .secrets.baseline
  config/.litellm-version
  docs/DEPLOYMENT_SUMMARY_V1.7.1.md
  docs/HOTFIX_V1.7.1.1.md
  docs/TEST_SUMMARY_V1.7.1.md
  monitoring/grafana/dashboards/06-routing-v1.7.1.json
  scripts/generate-litellm-config.py
  scripts/monitor-routing-v1.7.1.sh
Due: none

docs(v1.7.1): consolidate release documentation and update references
  .serena/memories/10-routing-architecture-v1.7.md
  README.md
  docs/ROUTING_V1.7.1_RELEASE.md
  docs/archive/v1.7.1-individual-docs/DEPLOYMENT_SUMMARY_V1.7.1.md
  docs/archive/v1.7.1-individual-docs/HOTFIX_V1.7.1.1.md
  docs/archive/v1.7.1-individual-docs/TEST_SUMMARY_V1.7.1.md
Due: none

Path conditions:
  validate-config-schema: any of: ^config/.*\.(yaml|yml)$
  check-generated-configs: any of: ^config/litellm-unified\.yaml$
